#문제 1 

#정수 N개의 합 (백준 15596)

In [4]:
#정수 n개가 주어졌을 때, n개의 합을 구하는 함수를 작성하시오.
sum =0
def solve(a):
  global sum 
  for i in a:
    sum +=i
  return sum

a= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
solve(a)

    
def solve(a):
    return sum(a)

55

#문제 2

#셀프 넘버(백준 4673)

In [6]:
def self_number(n):
  digit = len(str(digit))
  partition_list = []

2